/* Font */
/* font-family: 'Kumbh Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
/* ## COLORS ## */
    --DarkCyan: hsl(185, 75%, 39%);
    --DarkBlue: hsl(229, 23%, 23%);
    --DarkGray: hsl(227, 10%, 46%);
    --LightGray: hsl(0, 0%, 59%);
    --FadedGray: hsla(0, 0%, 59%, .2);
/* ## FONTS ## */
    --Bold700: 700 1.125rem/1 'Kumbh Sans', sans-serif;
    --Light400: 400 1.125rem/1 'Kumbh Sans', sans-serif;
    --400sm: 400 .9rem/1 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--DarkCyan);
    font: var(--Light400);
    text-align: center;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-image: url("../images/bg-pattern-top.svg"),
                        url("../images/bg-pattern-bottom.svg");
    background-position: right 50vw bottom 50vh, left 50vw top 55vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 100% 38%;
    min-width: 18.5em;
    border-radius: 1em;
    min-height: 20.8em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    display: grid;
    grid-template: 38% 1fr / 100%;
    place-items: center;
    padding: .5em;
}

.profile-image {
    align-self: end;
    transform: translate(0, 50%);
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
    overflow: hidden;
}


.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-text {
    margin-top: 2em;
}

.name {
    display: inline-block;
    font: var(--Bold700);
    line-height: 2.5;
}

.age {
    display: inline-block;
    font: var(--Light400);
    color: var(--LightGray);
    padding-left: .3em;
}

.location {
    font: var(--400sm);
    color: var(--LightGray);
}

hr {
    margin-top: -1em;
    height: 1px;
    width: 100%;
    border: 0;
    background-color: var(--FadedGray);
    color: var(--FadedGray);
    border-color: var(--FadedGray);

}

.stats {
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.stats h2 {
    font: var(--Bold700);
}

.stats p {
    font-size: .8rem;
    color: var(--LightGray);
    padding: .5em;
}